{% extends "mail/base.html.twig" %}

{% block content %}
    {# <!-- START CENTERED WHITE CONTAINER --> #}
    {# <span class="preheader">Valider votre email pour finaliser la création de votre compte</span> #}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">
        {# <!-- START MAIN CONTENT AREA --> #}
        <tr>
            <td class="wrapper">
                <h1>Activation de votre compte</h1>
                <p>Bonjour {{user.firstname}},</p>
                <p>Merci de vous être inscrit sur {{site.name}}</p>
                <p>Pour finaliser la création de votre compte, veuillez cliquer sur le lien suivant :</p>
                <div class="btn_container">
                    <a href="{{url}}" rel="nofollow" target="_blank" class="btn btn-primary">Activer mon compte</a>
                </div>
                <div class="divider"></div>
                <p>Si vous n'avez pas créé de compte, veuillez ignorer cet e-mail.</p>
                <p>L'équipe {{site.name}}</p>
            </td>
        </tr>
        {# <!-- END MAIN CONTENT AREA --> #}
    </table>
{% endblock %}