{% extends "mail/base.html.twig" %}

{% block content %}
    {# <!-- START CENTERED WHITE CONTAINER --> #}
    {# <span class="preheader">Réinitialisation de votre mot de passe</span> #}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">
        {# <!-- START MAIN CONTENT AREA --> #}
        <tr>
            <td class="wrapper">
                <h1>Réinitialisation de votre mot de passe</h1>
                <p>Bonjour {{user.firstname}},</p>
                <p>Vous avez demandé la réinitialisation de votre mot de passe. Pour cela, veuillez cliquer sur le lien suivant :</p>
                <div class="btn_container">
                    <a href="{{url}}" rel="nofollow" target="_blank" class="btn btn-primary">Réinitialiser mon mot de passe</a>
                </div>
                <div class="divider"></div>
                <p>Le lien est valable 1 heure</p>
                <p>Si vous n'êtes pas à l'origine de cette demande, veuillez contacter le support.</p>
                <p>L'équipe {{site.name}}</p>
            </td>
        </tr>
        {# <!-- END MAIN CONTENT AREA --> #}
    </table>
{% endblock %}