{% extends "mail/base.html.twig" %}

{% block content %}
    {# <!-- START CENTERED WHITE CONTAINER --> #}
    {# <span class="preheader">Mot de passe modifié</span> #}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">
        {# <!-- START MAIN CONTENT AREA --> #}
        <tr>
            <td class="wrapper">
                <h1>Modification de votre mot de passe</h1>
                <p>Bonjour {{user.firstname}},</p>
                <p>Votre mot de passe a été modifié</p>
                <div class="divider"></div>
                <p>Si vous n'êtes pas à l'origine de cette demande, veuillez contacter le support.</p>
                <p>L'équipe {{site.name}}</p>
            </td>
        </tr>
        {# <!-- END MAIN CONTENT AREA --> #}
    </table>
{% endblock %}