<div class="footer">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span class="apple-link"></span>
                <br>
                {# Don't like these emails?
                <a href="http://htmlemail.io/blog">Unsubscribe</a>. #}
            </td>
        </tr>
        <tr>
            <td class="content-block powered-by">
            </td>
        </tr>
    </table>
</div>